body{background-color: aqua;}
.box1{background-color: grey;
height:110px;}


.box2{background-color: blueviolet;
height: 555px ;
}
.box3{background-color: blue;
    height: 555px;

}


.box4{background-color: black;
height: 15vh;}
.box5{background-color: green;
height: 15vh;}
.box6{background-color: yellow;
height: 15vh;}
.box7{background-color: red;
height: 15vh;}
.box8{background-color: orange;
height: 15vh;}
.box9{background-color: darkred;
height: 15vh;}

.box10{background-color: greenyellow;
height: 75px;}

